<h1 class="aboutus">About Idiots, For Idiots, By Idiots</h1><br>
<p class="abouttext">WHAT AN IDIOT! was made for your enjoyment. We are a news curator with a kick. Our editors/founders (Steven Velez-Garcia and James Lim) hand-pick the best stories daily from hundreds of US and international sources and link them with some sharply written, easy to digest titles for our users to enjoy and place votes on multiple articles. Our signature grid offers a vivid snapshot of the day's most thought-provoking, and entertaining news in a lively presentation of headlines.

<p class="text">WHAT AN IDIOT! combines the wisdom of our editors and the power of technology, offering, we believe, a hilarious and foolish news experience.</p>
