<h1>What An Idiot</h1>
<h5>...There are bigger idiots out there than you.</h5>

<% @posts.each do |post| %>
  <div class="article">
    <div class="text">
      <h2><%= post.title %></h2> <br />
      <h4><%= post.body %></h4>
    </div>
    <div class="bar">
      <div class="percent" style="right: <% if post.percentage == nil || post.percentage == 0%><%= 200 %><%else%><%= post.percentage * 200 %><%end%>px ;"></div>
    </div>
  </div>
<% end %>
