/*
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD

/*this thread will be for the general layout of the page*/
body {
	background-color: lightgrey;
    margin: 0;
	line-height: 18px;
	/*border-bottom: 2px black solid;*/
}
header {
	border-bottom: 2px black solid;
	margin-top: 15px;

}
h1 {
	padding-left: 40px;
	margin-top: 20px;
}
h5 {
	padding-left: 40px;
	margin-top: auto;
}
footer {
	min-height: 3vh;
	text-align: right;
	position: fixed;
	/*.footertext {*/
		/*padding-right: 50px;*/
	/*}*/
}
footer {
	min-height: 3vh;
    text-align: right;
    /*border-bottom: 2px black solid;*/
}
footertext {
		margin-left: : 50px;
=======
.signin {
  float: left;
  border: 2px solid black;
  margin-right: 20px;
  width: 40%;
  text-align: center;
}

.signup {
  float: left;
  border: 2px solid black;
  width: 40%;
  text-align: center;
>>>>>>> 5f50fe71e2ccf7eb5c17d60db4d9af0702900c1e
}
