/*
 *= require_tree .
 *= require_self
 */
/*this thread will be for the general layout of the page*/
body {
	background-color: lightgrey;
    margin: 0;
	line-height: 18px;
	/*border-bottom: 2px black solid;*/
}
header {
	border-bottom: 2px black solid;
	margin-top: 10px;

}
h1 {
	padding-left: 40px;
	margin-top: 20px;
}
h5 {
	padding-left: 40px;
	margin-top: auto;
}
footer {
	background-color: lightgrey;
	min-height: 3vh;
    text-align: right;
    border-top: 2px black solid;
    margin-top: 60px;
    float: right;
    width: 100%;
    position: relative;
    bottom: 0;
}
.bottom.nav {
		margin-left: : 50px;
}
ul {
	list-style: none;
	display: inline-block;
	padding-right: 65px;
}
li {
	font-size: 10px;
	display: inline-block;
}
.signin {
	margin-top: 20px;
  float: left;
  border-right: 2px solid black;
  margin-left: 100px;
  width: 43%;
  text-align: center;
}
.label_tag {
	display: inline-block;
}

.signup {
	margin-top: 20px;
	margin-right: 100px;
  float: right;
  width: 40%;
  text-align: center;
}
.hamburger{
  background:none;
  position:absolute;
  top: 10px;
  right: 30px;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color: black;
  border:0;
  font-size:30px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
.cross{
  background:none;
  position:absolute;
  top:10px;
  right: 34px;
  padding:7px 15px 0px 15px;
  color: black;
  border:0;
  font-size:70px;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1;
}
.menu{
	z-index:1;
	font-weight:bold;
	font-size:0.8em;
	width:100%;
	background:#f1f1f1;
	position:absolute;
	text-align:center;
	font-size:12px;
}
.menu ul {margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
.menu li {display: block;
  padding:15px 0 15px 0;
	border-bottom:#dddddd 1px solid;
}
.menu ul li a { text-decoration:none;
  margin: 0px;
	color:#666;
}
.menu a{text-decoration:none;
	color:#666;
}
