/*
 *= require_tree .
 *= require_self
 */

/*this thread will be for the general layout of the page*/
body {
	background-color: lightgrey;
    margin: 0;
	line-height: 18px;
	border-bottom: 2px black solid;
}
h1 {
	padding-left: 50px;
}
h5 {
	padding-left: 40px;
}
footer {
	min-height: 3vh;
	text-align: right;
	position: fixed;
	./*footertext {
		padding-right: 50px;
	}*/
}
footertext {
		padding-right: 50px;
}