// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.aboutus {
	// font-size: 30px;
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	text-align: center;
	padding-bottom: 15px;
	color: black;
}
p.abouttext {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	padding-left: 40px;
	margin-top: 1px;
}