// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.aboutus {
	width: 65%;
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	text-align: center;
	padding-bottom: 15px;
	margin-top: 70px;
	margin-left: 180px;
	color: black;
}
p.abouttext {
	width: 75%;
	text-align: center;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	// margin-left: 90px;
	// margin-top: 1px;
	// margin-right: 90px;
	word-spacing: 1px;
	margin: auto;
}
p.text {
	width: 75%;
	text-align: center;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	// margin-left: 90px;
	// margin-right: 90px;
	word-spacing: 1px;
	margin: auto;
	margin-top: 15px;
}